html {
    font-family: "Copperplate Gothic", Georgia, serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #b30017;
    color: hsl(210, 50%, 20%)
}
/* fos types */
.alliteration
{
    color: orange }
.hyperbole {
    color: yellow}
.irony { 
    color:green} 
.onomatopoeia {
    color: lime}
.personification {
    color: blue}
.simile {
    color: aqua}
.metaphor {
    color:violet}
.imagery {
    color: pink}
.symbolism {
    color:purple}
.foreshadowing {   
    color: gold}
/* fos types */ 

/*LS This is menu */
nav{
	  position: sticky;
    top: 0;
    left: 0;
 	width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: #252525;
}

a{
    color: #fffcfd;
    text-decoration: none;
}

.dropDown {
    padding: 12px 0px;
    position: relative;
    cursor: pointer;
}

.dropDown > a{
    padding: 0px 30px;
    gap: 2px;
}
/*LS If we need to add a drop down later */
.dropDown:hover .menu{
    opacity: 1;
    visibility: visible;
}
/*LS If we need to add a drop down later */
.menu{
    position: absolute;
    top: 45px;
    display: grid;
    background: #252525;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}
/*LS If we need to add a drop down later */
.menu > a {
    font-size: 14px;
    padding: 12px 20px;
}
/*LS If we need to add a drop down later */
.menu > a:hover, .dropDown:hover{
    color: #fffcfd;
    background:black;
}
/*LS If we need to add a drop down later */
.section-divider{
    display: block;
    height: 1px;
    margin: 0;
    border: none;
    background-color: #252525;
    width: 85%;
    margin: auto;
}
/*LS This is menu */